.view-area {
  display: flex;
  flex-direction: column;
  width: 100vw;

  height: 100vh;
}

.scrollable-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 100%;

  min-height: 100%;
  overflow-y: scroll;
}

.board {
  margin: 10px 0;
}

.board > .row {
  display: flex;
  flex-direction: row;
}

.board > .row:not(:first-child) {
  margin-top: -47px;
}

.board > .row:nth-child(2n) {
  margin-left: 95px;
}

.row > div:not(:first-child) {
  margin-left: 70px;
}